body {
    background-color: rgb(201, 60, 41);
  }


header {
    background-color: rgb(20, 202, 62);
  }

header {
    color: blue;
  }

footer {
    color: rgb(217, 255, 0);
  }

nav {
    background-color: rgb(215, 101, 171);
  }

main {
    color: rgb(233, 233, 238);
  }